<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
Add mew user
{{#message}}
 {{message}}
{{/message}}
<form action="/registration" method="post">

    <div><label> User Name:<input type="text" name="username" minlength="5" maxlength="15"> </label></div>
    <div><label> Password:<input type="text" name="password" minlength="5" maxlength="15"> </label></div>

    <div><input type="submit" value="Sign In"></div>
</form>
</body>
</html>